HTTP_PORT=8080

POSTGRES_DB=gravedb
POSTGRES_USER=grave
POSTGRES_PASSWORD=change-this-password

GRAVE_DB_CONTEXT=../../digitalisierung/grave-db
GRAVE_DB_DOCKERFILE=Dockerfile
GRAVE_DB_IMPORTER_DOCKERFILE=Dockerfile.importer

# Path to the Angular cemetery-tour project from this repository.
CEMETERY_TOUR_CONTEXT=../../TannenTrails
CEMETERY_TOUR_DOCKERFILE=Dockerfile

# Angular should be built for /tour/ so browser asset URLs stay under that path.
CEMETERY_TOUR_BUILD_COMMAND=npm run build -- --base-href /tour/ --deploy-url /tour/

# Set this to the Angular output folder that contains index.html.
CEMETERY_TOUR_DIST_DIR=www
